*{user-select: none; outline: none;}

html[theme = 'dark-mode'] {
   filter: invert(100%) hue-rotate(180deg);
}

html,body {
   width: 100%;
   height: 100%;
}
.container {
   width: 1050px;
   margin: 0 auto;
   background: #9c9;
}

.menu {
   display: flex;
}

.switch {
   position: relative;
   width: 60px;
   height: 34px;
}

.switch input {
   display: none;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: gray;
   transition: all 0.4s;
   border-radius: 34px;
}

.slider::before { /* slider 안 하얀 원 */
   position: absolute;
   content: '';
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: #fff;
   border-radius: 50%;
   transition: all 0.5s;
}

input:checked + .slider {  /* slide 움직이면 배경 검정*/
   background-color: black;
 }
 
 input:checked + .slider::before {
   /* slide 버튼을 넓이크기만큼 지정 & 움직임 */
   transform: translateX(26px);
 }

 .select-box {
   position: relative;
   margin-left: 60px;
   height: 34px;
 }

 .select-box select {
   font-size: 0.9rem;
   padding: 2px 5px;
   height: 34px;
   width: 200px;
 } 

 .input-group {
   margin: 100px 0;
 }

 .input {
   border: none;
   border-bottom: 2px solid lightgray;
   width: 1050px;
   height: 50px;
   font-size: 30px;
   text-align: center;
   display: block;
 }

 .error-message {
   color: #cc0033;
   font-size: 30px;
   line-height: 30px;
   margin-top: 10px;
   text-align: center;
 }

 .input-group .error-message {
   display: none;
 }